h2 {
   font-family: 'Montserrat', sans-serif;
   font-weight:bold;
   text-align: center;
   border: 3px solid blue;
   width: 50%;
}
p {
    background-color: black;
    color: white;
}
span {
    font-size: 40px;
    font-family: "comic sans MS";
    color:yellow;
    text-decoration: underline;
    text-transform:uppercase;
}
ul {
    font-size: 50px;
    list-style: square;
}
ol {
    font-size: 50px;
    list-style:upper-latin;
    margin-left: 40px;
}
.conteudo {
    margin-left: 2rem;
}
#titulo-principal {
    margin-left: 5rem;
}
/* Explicando Cascade e especificidades */

.titulo {
    font-size: 5rem;
    border: 5px solid red;
    color: red;
}
.titulo {
    border-style: dashed;
    color: green;
}