h2 {
   font-family: 'Montserrat', sans-serif;
   font-weight:bold;
   text-align: center;
   border: 3px solid blue;
   width: 50%;
}
p {
    background-color: black;
    color: white;
}
span {
    font-size: 40px;
    font-family: "comic sans MS";
    color:yellow;
    text-decoration: underline;
    text-transform:uppercase;
}
ul {
    font-size: 50px;
    list-style: square;
}
ol {
    font-size: 50px;
    list-style:upper-latin;
    margin-left: 40px;
}
.conteudo {
    margin-left: 2rem;
}
#titulo-principal {
    margin-left: 5rem;
}
/* Explicando Cascade e especificidades */

/* 0-2-0 */
.titulo.titulo-pagina {
    color:purple;
}

/*1-0-0 */
#titulo-principal {
color:aquamarine;
}

/*0-1-0*/
.titulo-pagina {
    font-size: 5rem;
    border: 5px solid red;
    color: rgb(37, 37, 37);
    margin-left: 4rem;
}

/* 0-1-0*/
.titulo {
    border-style: dashed;
    color: #768076;
    margin-left: 0rem;
}

/*0-0-1*/
h1 {
    color:blue;
    /*1-0-0-1*/
    /* color: blue !important; */
}